.app-header {
	background-color: #343a40;
	padding: 80px 0 80px 0;
}

.app-header h1 {
	font-weight: 900;
	font-size: 3rem;
	margin-bottom: 20px;
}

.app-header .lead {
	color: rgba(247, 247, 247, 0.731);
}
